div {
    text-align: center;
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
}

body{
    background-image: linear-gradient(to right, #008B8B , #4682B4);
    color: white;
}

/* .container-fluid{
    background-color: white;
} */

button{
    border-radius: 15px;
    margin: 5px;
    
}

input {
    margin: 5px;
    border-radius: 5px;
}

.citySpecifics {
    border: solid;
    border-width: 0.5px;
    padding: 2px;
}

.boxes {
    border-right: 1px dashed;
    border-left: 1px dashed;
}